.divsearch {
    padding-top: 15px;
}

.search {
    background: url(img/search.png) no-repeat scroll 2px 2px white;
    padding-left:20px;
    width: 100%;
}

@media (min-width: 500px) {
    .search {
        width: 400px;
    }
}

label {
    font-size: 1rem;
}

select {
    padding-top: 0px !important;
    height: 1.5rem !important;
}

input {
    display: block;
    width: 100%;
}

input.textcal {
    width: 100px;
    display: inline-block;
}

input.form-check-input {
    margin-left: 5px;
    display: inline-block;
}

.datarow {
    border: 1px solid darkgray;
    border-radius: 5px;
    margin-bottom: 1px;
}

.headerrow {
    background: blue;
    font-weight: bold;
    color: white;
}