{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="col-md-10 col-sm-12 mx-auto"><img src="static/img/chatbot.png" style="width:70px"> Chatbot</h1>
  <div class="row align-items-center h-100">
    <div class="col-md-10 col-sm-12 mx-auto">
      <div class="justify-content-center h-100">
        <div id="chat" class="chat-container" style="overflow: auto; max-height: 80vh">
          {% if usr.notificacion > 0 %}
            <div class="chat-message col-md-5 offset-md-7 bot-message">
                {{ usr.notificacion_texto | safe }}
            </div>
          {% endif %}
          <!-- chat messages -->
        </div>
        <form id="target">
          <input class="input" type="text" value="" placeholder="Ingrese mensaje..." id="input_message"/>
          <input type="submit" hidden>
        </form>
      </div>
    </div>
  </div>
</div>
<p>Pregunta: ¿que sabes responder?</p>
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">
          Ayuda
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body ayuda">
        <div>
          <iframe src="https://www.youtube.com/embed/qciFWrgDstU" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div>Horas Extra y Llegadas tarde</div>
        </div>
        <div>
          <iframe src="https://www.youtube.com/embed/VGCLp7TnVGk" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div>Elegir tu licencia</div>
        </div>
        <div>
          <iframe src="https://www.youtube.com/embed/4KGrpBzGg3k" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div>Pedir un Adelanto</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="static/chatbot.css">
<link rel="stylesheet" href="static/jquery-ui-1.12.1/jquery-ui.min.css">
{% endblock %}

{% block scriptstart %}
<script src="static/jquery-ui-1.12.1/jquery-ui.min.js"></script>
{% endblock %}

{% block scriptend %}
<script src="static/js/chatbot.js"></script>
{% endblock %}