{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Sugerencias</h1>
  <form action="send_suggestion" method="post">
      <select class="form-control" name="tipo">
          {% for t in tipos %}
          <option value="{{t.id}}">{{t.texto}}</option>
          {% endfor %}
      </select>      
      <textarea class="form-control rounded border" rows="10" name="comentario" id="comentario"></textarea>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" name="anonimo" id="anonimo">
          <label class="form-check-label" for="anonimo">Anónimo</label>
      </div>
      <input type="submit" class="float-right btn btn-success"></input>
  </form>
</div>
{% endblock %}